.breadcrumb {
	margin: 20px 0 15px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li,
	ul {
	    display: flex;
	    align-items: center;

		+ li {
			&:before {
				content: $ionicon-var-ios-arrow-forward;
				font-family: $ionicons-font-family;
				display: block;
				color: #30b1f3;
				vertical-align: middle;
				margin: 0 8px;
				line-height: 1;
				font-size: 11px;
			}
		}
	}
	a, span {		
		font-size: 14px;
		font-family: $font-headings;
	}
	a {
		color: #888;
		display: block;
		vertical-align: middle;
		line-height: 1.1;

		&:hover {
			color: $color-primary;
		}
	}
}